{
    "local_dev_dir": "/source",
    "server": {
        "port": "2222"
    },
    "someapi": {
        "url": ""
    },
    "postgres": {
        "host": "db",
        "port": 5432,
        "user": "postgres",
        "password": "123",
        "database": "clean_arch"
    }
}